{% extends "layout.html" %}

<!--Add title to page-->
{% block title %}
    Password
{% endblock %}

<!--Add main block to layout.html-->
{% block main %}
    <p>Generate new password (will be send to your email)</p>
    <form action="/password" method="post">
        <!--Input username to identify-->
        <div class="mb-3">
            <input autocomplete="off" autofocus="" class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <!--Input email to match user email-->
        <div class="mb-3">
            <input autocomplete="off" autofocus="" class="form-control mx-auto w-auto" name="email" placeholder="Email (from username)" type="text">
        </div>
        <button class="btn btn-light" type="submit">Send to Email</button>
    </form>
{% endblock %}