{% extends "layout.html" %}

<!--Add title to page-->
{% block title %}
    New Password
{% endblock %}

<!--Add main block to layout.html-->
{% block main %}
    <form action="?" method="post">
        <!--Input new password-->
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="new_password" placeholder="New Password" type="password">
            <small class="fw-light fs-9">Capital and lower letters, number, > 7 and < 21</small>
        </div>
        <!--Input confirmation of password-->
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="New Password (Again)" type="password">
        </div>
        <button class="btn btn-light" type="submit">Complete Process</button>
    </form>
{% endblock %}